/* Container for the settings page */
.settings-page {
  padding: 20px; 
  padding-top: 0;
  width: 35%;
}

/* Form title */
.settings-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left; 
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Wrapper for input with icon */
.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

/* Input styling */
.input-wrapper input {
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 40px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Icon styling */
.input-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

/* Eye icon for password visibility toggle */
.eye-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Update button styling */
.update-btn {
  width: 100%;
  padding: 10px;
  background-color: rgba(23, 162, 184, 1); 
  color: white;
  border: none;
  border-radius: 55px; 
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.update-btn:hover {
  background-color: rgba(19, 136, 155, 1);
}
